<h1 class="">about</h1>
<div class="container">
    <div class="form">
        <p>in this assesment i was task to do the following:</p>
        <p>Application spec:</p>

        <p>1. Please create a currency conversion system using the currency API (https://api.exchangerate.host/latest?base=ZAR can be used as an endpoint, you can alternatively use any other endpoint).</p>

        <p>2. Please use front-end technology of your choice.</p>

        <p>3. The system must allow for conversion of the following currencies (USD, EUR, GBP, HKD & KES) with ZAR as a base.</p>

        <p>4. The app must be fully responsive and mobile friendly.</p>

        <p>5. The app must have at least 2 tabs/pages, e.g. have currency convertor tab (landing tab) and about us tab.</p>

        <p>6. The app must update currencies every 15 minutes.</p>

        <p>7. Do a trend analysis of these currencies. You can present this in a graphic or tabular format like XE does.</p>


        <p>During this assesment I tried using a angular technology to make use of the end point provided, with my first experience using this frame work to make get and post information to the API. I was met with alot of difficulties, although it makes
            the post to the API, I have had some difficulties trying to return the values to the user interface. With mutliple Documentation on how this works has left me facinated to complete this project. I do believe i have the ability to complete
            this project but with a new framework I underestimated time to completion.</p>


        <p>At the start of the project i tried creating a bisic user interface, and setting up the routes for the project. After that I was with making a call to the API to return the JSON, this has left me with a complication, for further information please
            use my github repo <a href="https://github.com/RichardMarkRoss/currency-api">github.com/RichardMarkRoss/currency-api</a>.</p>

        <p>But this was a fun project that i hope to complete and understand. If you do have information that could lead me down the correct path please let me know.</p>

        <p>Kind Regards</p>
        <p>Richard Ross</p>
    </div>
</div>